<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greetgo.spring.kz.mapper.CategoryMapper">


<select id="selectCategoryById" parameterType="int" resultType="com.greetgo.spring.kz.bean.Category">
	select category_name as categoryName from Category where category_id = #{id}
</select>

<insert id="insertCategory" parameterType="com.greetgo.spring.kz.bean.Category" useGeneratedKeys="true" keyProperty="categoryId">
	insert into Category(category_name) values (#{categoryName})
</insert>

</mapper>